{% extends 'templates/glued.twig' %}

{% block content %}

<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <a href="{{ path_for('assets.gui') }}" class="pull-right">back</a>
            <a href="{{ path_for('consumables.addquickform') }}" class="pull-right" style="margin-right: 10px;">+consumables</a>
          </div>
          <div class="panel-body">
            <div id="main"></div>
          </div>
        </div>
      
    
    </div>

</div>

{% endblock %}
