{% extends 'templates/glued.twig' %}

{% block content %}

{{ additional_javascript | raw }}

<div class="title-block">
    <h3 class="title"> Assets Module </h3>
</div>


<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title">Existing assets<a href="{{ path_for('assets.addform') }}" class="pull-right" style="margin: 0 20px;">add new assets</a> <a href="{{ path_for('assets.addquickform') }}" class="pull-right" style="margin: 0 20px;">add quick assets</a></h3>
            </div>
            <section class="example">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category</th>
                                <th>Name</th>
                                <th>Item number</th>
                                <th>Purchase date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ costs_output | raw }}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>



{% endblock %}
