###
### do not ignore
###

!.gitignore


###
### ignore files in /logs, but keep the folder
###

/logs/*
/private/import/O2cz/*
/private/oauth/*
/private/stor/*

!/logs/.keep
!/private/import/O2cz/.keep
!/private/oauth/.keep
!/private/stor/.keep


###
### ignore
###

/phinx.yml
/glued/settings.php


