
{% if auth.check %}
<div class="header-block header-block-buttons">
    <a href="#" class="btn btn-sm header-btn" data-toggle="modal" data-target="#aclpage-modal">
        <i class="fa fa-github-alt"></i>
        <span>Page ACL settings</span>
    </a>
</div>
{% else %}


{% endif %}