{% extends 'templates/glued.twig' %}

{% block content %}

<h1>Home page</h1>

<p>
<a href="public/terms-services">Terms and services</a> |
<a href="public/fbevents/privacy-policy">Privacy policy</a>
</p>

{% endblock %}