{% extends 'templates/glued.twig' %}

{% block content %}

<h1>Home page</h1>

<p>
<a href="https://japex.vaizard.xyz/glued/public/fbevents/terms-services">Terms and services</a> |
<a href="https://japex.vaizard.xyz/glued/public/fbevents/privacy-policy">Privacy policy</a>
</p>

{% endblock %}