{% extends 'templates/glued.twig' %}

{% block content %}
        
        <h1>test na upload zip souboru s o2 vyuctovanim</h1>
        
        <h2>prehled nahranych a rozbalenych souboru</h2>
        {{ vystup | raw }}
        
        <br /><br /><br />
        <h2>formular na nahrani zipu</h2>
        <form method="post" action="{{ path_for('o2gui') }}" enctype="multipart/form-data">
            <label>Select files to upload:</label>
            <input type="file" name="files[]" multiple />
            <button type="submit">Upload</button>
            {{ csrf.field | raw }}
        </form>
    <br /><br />

{% endblock %}