{% extends 'templates/glued.twig' %}

{% block content %}
        
        <h1>Industra FB</h1>
        
        
        {{ vystup | raw }}
        
        <br /><br /><br />
        
    <br /><br />

{% endblock %}