{% extends 'templates/glued.twig' %}

{% block content %}

<h2>Pomocné nástroje a dokumentace</h2>

<div><a href="https://github.com/joshcam/PHP-MySQLi-Database-Class" target="_blank">Joshcam DB syntaxe</a></div>
<div><a href="https://modularcode.io/modular-admin-html/index.html" target="_blank">Dashboard zdroj</a></div>
<div><a href="https://github.com/Vaizard/glued/issues/47" target="_blank">Issue #47 - Stock module with Camera interface</a></div>
<div><a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank">Bootstrap 4 dokumentace</a></div>
<div><a href="https://github.com/mozilla-services/react-jsonschema-form" target="_blank">React json schema forms</a></div>

<br><br>
<h3>veci k vyvoji prevodniku json schemat na hezke vystupni html</h3>

<br>http://techniquesoftware.github.io/react-json-schema/
<br>https://www.npmjs.com/package/react-json-schema
<br>https://reactjs.org/

{% endblock %}