

.span-to-link {
    cursor: pointer;
    color: blue;
}

.span-to-link:hover {
    text-decoration: underline;
}


/* OPRAVY DASHBOARDU */

/* protoze dashboard (app.css) z neznameho duvodu skryva vse co ma tridu checkbox a js schema form dela checkbox v divu zrovna s touto tridou */
div.checkbox {
    display: block;
}

/* do modalu potrebujeme nejak hezky nastylovat vnitrek tabu */

.modal-tab-content {
    padding: 10px 20px;
}



/* json schema formy */

.disable-array-flex .array-item-list {
    display: block !Important;
}

.disable-array-flex .array-item {
    display: flex;
}

.disable-array-flex .array-item-toolbox {
    width: 30%;
    float: left;
    padding-top: 30px;
}

.pad-left {
    padding-left: 30px;
}

.pad-right {
    padding-right: 30px;
}

.title-and-add legend{
    float: left;
    width: auto;
}

.title-and-add button {
    margin-left: 15px;
    float: left;
}

.bottomized {
    margin-top: 32px;
}
