

.span-to-link {
    cursor: pointer;
    color: blue;
}

.span-to-link:hover {
    text-decoration: underline;
}


/* OPRAVY DASHBOARDU */

/* protoze dashboard (app.css) z neznameho duvodu skryva vse co ma tridu checkbox a js schema form dela checkbox v divu zrovna s touto tridou */
div.checkbox {
    display: block;
}

/* do modalu potrebujeme nejak hezky nastylovat vnitrek tabu */

.modal-tab-content {
    padding: 10px 20px;
}