{% extends 'templates/glued.twig' %}

{% block content %}



<div class="title-block">
    <h3 class="title"> All FB Events </h3>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title">
                    <a href="{{ path_for('fbevents.main') }}" class="pull-right">back</a>
                </h3>
            </div>
            <section class="example">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>V</th>
                                <th>Event Name</th>
                                <th>Location</th>
                                <th>Organizer</th>
                                <th>Start Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ events_output | raw }}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock %}
