{% extends 'templates/glued.twig' %}

{% block content %}



<div class="title-block">
    <h3 class="title"> FB Events <a href="" class="pull-right" style="margin: 0 20px;">show all events</a></h3>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title">Facebook pages<a href="{{ path_for('fbevents.addpage') }}" class="pull-right" style="margin: 0 20px;">add new page</a></h3>
            </div>
            <section class="example">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Page ID</th>
                                <th>Page Name</th>
                                <th>Count of Events</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ pages_output | raw }}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title">Tokens<a href="{{ path_for('fbevents.addtoken') }}" class="pull-right" style="margin: 0 20px;">add new token</a></h3>
            </div>
            <section class="example">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Page Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ tokens_output | raw }}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    
</div>


{% endblock %}
