{% extends 'templates/glued.twig' %}

{% block content %}

<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
          </div>
          <div class="panel-body">
                


<h1>Terms and Services</h1>


<p>Effective date: August 08, 2018</p>


<p>Actually we do not serve any services, so we do not have any Terms.</p>


          </div>
        </div>
    </div>

</div>

{% endblock %}
