{% extends 'templates/glued.twig' %}

{% block content %}

{{ additional_javascript | raw }}

<div class="title-block">
    <h3 class="title"> Barcode Module </h3>
</div>

<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="panel-body">
            rucni barcode je zde: https://japex.vaizard.xyz/barcode/barcode.php?f=png&s=upc-e&d=06543217
          </div>
        </div>
      
    
    </div>

</div>

{% endblock %}
