{% extends 'templates/glued-json-test.twig' %}

{% block content %}

<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            
            <h3>json schema form s 1 maskovanym inputem</h3>
            <div id="main"></div>
            
            
            <h3>samostatny input s maskou</h3>
            <div><input class="test_vanilla" /></div>
            
          </div>
        </div>
      
    
    </div>

</div>

{% endblock %}
