{% extends 'templates/glued.twig' %}

{% block content %}

<div class="title-block">
    <h3 class="title"> Profile </h3>
    <p class="title-description"> Change your Profile </p>
</div>

<section class="section">
    <div class="row sameheight-container">
        
        <div class="col-md-6">
            {{ vystup | raw }}
        </div>
        <div class="col-md-6">
            {{ vystup2 | raw }}
        </div>
        
    </div>
</section>


{% endblock %}
