{% extends 'templates/glued.twig' %}

{% block content %}

<div class="title-block">
    <h3 class="title"> Profile </h3>
    <p class="title-description"> Change your Profile </p>
</div>

<section class="section">
    <div class="row sameheight-container">
        
        <div class="col-md-6">
            {{ profile_output | raw }}
        </div>
        <div class="col-md-6">
            <a href="{{ path_for('auth.profile.edit') }}" class="pull-right" style="margin: 0 20px;">edit your profile</a>
        </div>
        
    </div>
</section>


{% endblock %}
