{% extends 'templates/glued.twig' %}

{% block content %}



<div class="title-block">
    <h3 class="title"> 7 dimensional Vectors </h3>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title">Existing vectors<a href="{{ path_for('vectors.addvectorform') }}" class="pull-right" style="margin: 0 20px;">add new vector</a> </h3>
            </div>
            <section class="example">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Vector Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ vectors_output | raw }}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    
</div>


{% endblock %}
