{% extends 'templates/glued.twig' %}

{% block content %}

{{ additional_javascript | raw }}

<div class="title-block">
    <h3 class="title"> Costs </h3>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title">Existing costs<a href="{{ path_for('accounting.addcostform') }}" class="pull-right" style="margin: 0 20px;">add new cost</a> </h3>
            </div>
            <section class="example">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Invoice nr.</th>
                                <th>Supplier</th>
                                <th>Price+vat</th>
                                <th>Project</th>
                                <th>Expense type</th>
                                <th>Ext</th>
                                <th>Descr.</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ costs_output | raw }}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock %}
