{% extends 'templates/glued.twig' %}

{% block content %}



<div class="title-block">
    <h3 class="title"> Glued Events </h3>
</div>

<div class="col-md-12">
    <div class="card">
        na ručně zadávaných eventech se pracuje
    </div>
    
    
    <form class="form-signin">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
      </div>

      <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control underlined" placeholder="" required="">
        <label for="inputEmail" class="control-label">toto je label 1</label>
      </div>

      <div class="form-label-group">
        <input type="text" id="inputPassword" class="form-control"  required="">
        <label for="inputPassword">toto je label 2</label>
      </div>
    
      <div class="form-label-group">
        <label for="xxx" class="control-label">label 3 nad inputem</label>
        <input type="text" id="xxx" class="form-control underlined" placeholder="" required="" onfocus="$(this).siblings('label').addClass('labelisima');" >
      </div>
    
    </form>
    
</div>


{% endblock %}
